body {
    background-color: gainsboro;
    /*background-image: url("../../../templates/home/imgs/bg-01.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.home_img {
    position: relative;
    margin-left: 2%; margin-top: 1%;
    top: 2.5%;
    height: 30px;
    background: transparent;
}

.evoting_txt {
    position: absolute;
    left: 5.5%; top: 4%;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-weight: bold; font-size: 26px;
    -webkit-animation: animate_evoting_text;
    -webkit-animation-duration: 1s;
    animation-name: animate_evoting_text;
    animation-duration: 1s;
}

.menu_bar_disp {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-left: 30%; margin-top: 3px;
    max-width: 40%;
    height: 8px;
    background-color: #888888;
    z-index: 20;
}

.menu_bar {
    top: 0;
    width: 100%; height: 360px;
    -webkit-animation: animate-menu-bar;
    -webkit-animation-duration: 1s;
    animation-name: animate-menu-bar;
    animation-duration: 1s;
    opacity: 0.9;
    background-color: black;
}

.menu_bar_cancel {
    position: absolute; right: 2%; margin-top: 1%;
    width: 40px; height: 40px;
    background: transparent;
}

.user-profile-image {
    position: relative;
    max-width: 10%;
    margin-left: 7%; margin-top: 7.5%;
    border-radius: 50%;
    padding: 20px;
    border: 2px solid white;
    background: transparent;
    -webkit-animation: user-profile-image-animation;
    -webkit-animation-duration: 1s;
    animation: user-profile-image-animation;
    animation-duration: 1s;
    opacity: 0.8;
}

.register_btn {
    position: absolute;
    right: 2%; top: 6%;
    border: none;
    padding: 4px 15px 4px 15px;
    font-family: "Microsoft JhengHei UI Light";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: black; text-decoration: none;
}

.login_btn {
    position: absolute;
    right:3%; top: 0.5%;
    border: none;
    padding: 4px 15px 4px 15px;
    font-family: "Microsoft JhengHei UI Light";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: black; text-decoration: none;
}

.logout_btn {
    position: absolute;
    right:3%; top: 3%;
    border: none;
    padding: 5px 15px 5px 15px;
    font-family: "Microsoft JhengHei UI Light";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: black; text-decoration: none;
}

/*===================================IDs==========================*/

#menu_bar {
    position: fixed;
    display: none;
    z-index: 10;
}

#profile {
    position: fixed;
    display: none;
    z-index: 30;
}

/*==================================Hovers=========================*/

.menu_bar_disp:hover {
    background-color: dimgrey;
    cursor: pointer;
}

.menu_bar_cancel:hover {
    cursor: pointer;
}

.user-profile-image:hover {
    cursor: pointer;
}

.register_btn:hover {
    text-decoration: none;
    cursor: pointer;
    border-bottom: 0.5px solid black;
}

.login_btn:hover {
    text-decoration: none;
    cursor: pointer;
    border-bottom: 0.5px solid black;
}

/*=================================================================*/


@-webkit-keyframes animate-menu-bar {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 0.9;
    }
}

@keyframes animate-menu-bar {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 0.9;
    }
}

@-webkit-keyframes user-profile-image-animation {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 11px;
        opacity: 0.8;
    }
}

@keyframes  user-profile-image-animation{
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 11px;
        opacity: 0.8;
    }
}

@-webkit-keyframes animate_evoting_text {
    from {
        left: 3%;
        opacity: 0;
    }
    to {
        left: 5.5%;
        opacity: 1;
    }
}

@keyframes animate_evoting_text {
    from {
        left: 3%;
        opacity: 0;
    }
    to {
        left: 5.5%;
        opacity: 1;
    }
}

/*===============borders================*/

.tlbr-8 {
    border-top-left-radius: 8px;
}

.trbr-8 {
    border-top-right-radius: 8px;
}

.blbr-8 {
    border-bottom-left-radius: 8px;
}

.brbr-8 {
    border-bottom-right-radius: 8px;
}

.border-6 {
    border-radius: 6px;
}

/*=======================Background Colors==========*/

.bc-dimgrey {
    background-color: dimgrey;
}

.bc-dsb {
    background-color: deepskyblue;
}


:-moz-any-link:focus{
    border: none;
    outline: none;
}