{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div>
        {% if user.is_authenticated %}
            <h2>You are already logged in!!</h2><br><br>
            <p>Do you want to redirect you to <a href="{% url 'evoting-home' %}">Home</a> page?</p>
        {% else %}
            <form method="post" class="login_form">
                {% csrf_token %}
                <fieldset class="">
                    <legend class="border-bottom mb-3">LOG IN</legend>
                    <span>
                        {{ form.username }}
                    </span>
                    <span>
                        {{ form.password }}
                    </span>
                </fieldset>
                <button type="submit" class="btn btn-outline-info">LOG IN</button>
                <div class="pt-3">
                    <small class="text-muted">
                        Not yet registered? <a class="ml-4" href="{% url 'evoting-register' %}">Register</a>
                    </small>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock body %}