<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      a:hover {
        background: #006064;
      }



    </style>
    <title>organiser_region</title>
  </head>
  <body style="position: relative; padding-top: 20px;">



      <nav class="navbar fixed-top container navbar-expand-lg navbar-light "style="background-color:#008B8B"  >

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>


          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url "organiser_app:mainpage" %}" style="font-size:22px">Mainpage <span class="sr-only">(current)</span></a>
              </li>


              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url 'organiser_app:candidate' %}" style="font-size:22px">AddCandidates <span class="sr-only">(current)</span></a>
              </li>



              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url "organiser_app:voter_region_page" %}" style="font-size:22px">Voter Page <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item active">
                <a class="nav-link text-white" href="{% url "organiser_app:index" %}" style="font-size:22px">Back <span class="sr-only">(current)</span></a>
                </li>


              <li class="nav-item active">
                <a class="nav-link text-white" href="#" style="font-size:22px">Logout <span class="sr-only">(current)</span></a>
              </li>

            </ul>
            <form class="form-inline " name="myform1" onsubmit="return ValidateForm1()" method="post">
              <input class="form-control mr-sm-2" type="search" placeholder="Enter Candidate Id" aria-label="Search" name="Candidateid" >
              <button class=" btn btn-danger my-2 my-sm-0 text-white" type="submit" style="font-size:17px;background-color: #006064;">Search</button>
            </form>
          </div>
        </nav>

<div style="margin-top:100px">
        {% if candidates %}

        <table class="table table-dark" style="margin: 20px auto">
            <thead class="thead thead-light">
                <th> Candidate Id</th>
                <th> Candidate Name</th>
                <th> Candidate Father</th>
                <th> Candidate email</th>
                <th> Candidate DOB</th>
                <th> Candidate Region</th>
                <th> Candidate Aadhar</th>
                <th> Candidate gender</th>
                <th> Candidate Party</th>
            </thead>

          {% for candidate in candidates %}

          <li>Candidate Info</li>
          <ul>
              <a href="{% url "organiser_app:candidate_view" candidate.candidate_id %}"> <li>Name:{{candidate.candidate_name}}</li></a>
            <li>Father Name:{{candidate.candidate_fname}}</li>
            <li>Party:{{candidate.candidate_party}}</li>
            <li>Region:{{candidate.candidate_region}}</li>
            <li>Email:{{candidate.candidate_email}}</li>
            <li>Aadhar:{{candidate.candidate_aadhar}}</li>
          </ul>

        </ol>

          <tr>
              <td>{{ candidate.candidate_id}}</td>
              <td><a href="{% url "organiser_app:candidate_view" candidate.candidate_id %}" >{{ candidate.candidate_name}}</a></td>
              <td>{{ candidate.candidate_fname}}</td>
              <td>{{ candidate.candidate_email}}</td>
              <td>{{ candidate.candidate_dob}}</td>
              <td>{{ candidate.candidate_region}}</td>
              <td>{{ candidate.candidate_aadhar}}</td>
              <td>{{ candidate.candidate_gender}}</td>
              <td>{{ candidate.candidate_party}}</td>
          </tr>

            {% endfor %}

</table>
            {% endif %}
</div>
           <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>

    function ValidateForm1(){

          var x = document.forms["myform1"]["Candidateid"].value;
          if ((x == "" )||( x.length !=10)) {
          alert(" Please enter valid Candidate Id");
          return false;
    }
}



</script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



  </body>
</html>
