.registration_table {
    position: absolute;
    padding-top: 5%; padding-left: 55%; padding-right: 3%; padding-bottom: 5%;
}

.input_box {
    background: transparent;
    border-top: none; border-left: none; border-right: none; border-bottom: 2px black;
}



/*===================================================================================*/