{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <title>E-Voting Home</title>

{% endblock head %}

{% block body %}
    <div class="container">
        <br>
        <br>
        {%  if user.is_authenticated  %}
            <table class="table table-dark">
                <tr>
                    <th  colspan="3">Ongoing Election</th>
                </tr>
                <tr>
                    <th>Election ID</th>
                    <th>Election Year</th>
                    <th>Link</th>
                </tr>
                {%  for election in elections  %}
                    {%  if election.status == '1'  %}
                <tr>
                    <td>{{ election.election_id }}</td>
                    <td>{{ election.election_year }}</td>
                    <td><a>Vote Now</a></td>
                </tr>
                    {%  endif  %}
                {%  endfor  %}
            </table>
        <br>
            <table class="table table-dark">
                <tr>
                    <th colspan="3">Upcoming Election</th>
                </tr>
                <tr>
                    <th>Election ID</th>
                    <th>Election Year</th>
                    <th>Link</th>
                </tr>
                {%  for election in elections  %}
                    {%  if election.status == '0'  %}
                <tr>
                    <td>{{ election.election_id }}</td>
                    <td>{{ election.election_year }}</td>
                    <td><a>Candidate List</a></td>
                </tr>
                    {%  endif  %}
                {%  endfor  %}
            </table>
        <br>
            <table class="table table-dark">
                <tr>
                    <th colspan="3">Past Election</th>
                </tr>
                <tr>
                    <th>Election ID</th>
                    <th>Election Year</th>
                    <th>Link</th>
                </tr>
                {%  for election in elections  %}
                    {%  if election.status == '2'  %}
                <tr>
                    <td>{{ election.election_id }}</td>
                    <td>{{ election.election_year }}</td>
                    <td><a>Result</a></td>
                </tr>
                    {%  endif  %}
                {%  endfor  %}
            </table>
        {%  endif  %}
    </div>
{% endblock body %}