{% extends 'base.html' %}
{% load crispy_forms_tags  %}
{% load staticfiles %}

{% block head %}
    <title>E-Voting Register</title>

    <script>
        $(document).ready(function(){
            $("button").click(function(){
                $("#reg_table").animate({
                    opacity: '0'
                });
            });
        });
    </script>

    <style>
        @media (min-width: 500px) {
            .container {
                max-width: 90%;
            }
        }
    </style>

{% endblock head %}
{% block body %}
        {% if user.is_authenticated %}
            <div class="container" style="text-align: center;">
                <h1 style="color: white">Oops!!</h1><br>
                <h5 style="color: white">It seems you are logged in with an account.<br>Please logout to create a new account..</h5><br>
                <h6 style="color: white">Or do you want to redirect to <a href="{% url 'evoting-home' %}">Home</a> page?</h6>
            </div>
        {% else %}
            <div style="display: block;" class="container registration_table">
                <form method="post" action="">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div style="text-align: center; color: red">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="col register_text" style="display: block" id="reg">
                        REGISTER
                    </div>
                    <div class="col ml-5 register_form" style="color: white; max-width: 430px; float:left;" id="reg_table">
                            <div class="mt-5 fullname">
                                {{ reg_form2.fullname|as_crispy_field }}
                            </div>
                            <div class="mt-5 voterId">
                                {{ reg_form2.voterId|as_crispy_field }}
                            </div>
                            <div class="mt-5 username">
                                {{ reg_form1.username|as_crispy_field }}
                            </div>
                            <div class="mt-5 email">
                                {{ reg_form1.email|as_crispy_field }}
                            </div>
                            <div class="mt-5 password">
                                {{ reg_form1.password|as_crispy_field }}
                            </div>
                            <div class="mt-5">

                                {{ reg_form2.voter_dob|as_crispy_field }}
                            </div>

                    </div>
                    <div class="reg_btn_div">
                        <button type="submit" class="registration_btn" id="reg_btn">
                            <img class="registration_btn_img" src="{% static 'register/imgs/next.png' %}">
                        </button>
                    </div>
                </form>
            </div>
        {% endif %}
{% endblock body %}


<!--
    <button type="submit" class="registration_btn" id="reg_btn" onclick="animate_register_table_in()">
        <img class="registration_btn_img" src="{% static 'register/imgs/next.png' %}">
    </button>

-->