{% extends 'graphs/maincharts.html' %}

<script>
{% block jquery %}

            labels={{labelsdata | safe}}
            defaultData={{defaultdata | safe}}

            setChart(labels,defaultData)
            function setChart(labels,defaultData){
                if ( new Date() <= new Date("Dec 24 2018 16:10") ) {
                    var ctx2 = document.getElementById("myChart1");}
            else { document.getElementById("chart").innerHTML="Sorry,the Results are not released yet"};
                var myChart = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Number of Votes',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'darkred','darkblue','darkorange',
                            'darkmagneta','darkgoldenrod','deeppink',
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

            }
            // var ctx = document.getElementById("myChart");

      {% endblock jquery %}
    </script>
{%  block content %}
        <div style="height: 250px"></div>
        <div class="jumbotron" id="chart">
            <canvas id="myChart1" width="90" height="70"></canvas>
        </div>
        <div style="height: 200px"></div>
{% endblock content %}