{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
    <title>E-Voting Register</title>
{% endblock head %}
{% block body %}
    {% if user.is_authenticated %}
        <div style="text-align: center">
            <h1>Oops!!</h1><br>
            <h3>It seems you are logged in with an account.<br>Please logout to create a new account..</h3><br>
            <h6>Or do you want to redirect to <a href="{% url 'evoting-home' %}">Home</a> page?</h6>
        </div>
    {% else %}
        <div class="registration_table">
                <form method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Register to Vote</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <button type="submit" class="btn btn-outline-info input_box">Register</button>
                </form>
                <div class="border-top pt-4">
                    <small class="text-muted">
                        Already have an account? <a class="ml-2" href="{% url 'evoting-login' %}">Login</a>
                    </small>
                </div>
        </div>
    {% endif %}
{% endblock body %}