
/* navbar creation */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 20px;
    font-size: 20px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

li a:hover {
  background-color: gray;
    width:100%;
    opacity:0.5;
    height:75px;
}
.background
{
    background-image: url("back1.jpg");
    opacity: 0.9;
    background-size :cover;
    background-repeat: no-repeat;

}
clock{
	text-align:center;
	font-weight:100;
}

h1{
  color:red;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
    color:black;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: gray;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background:white;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
    font-family: "Britannic Bold";
}

.home-bg-img
{
    position:fixed;
    top:50%;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
     transform:translateX(-50%) translateY(-50%);
    min-width:100%;
    min-height: 100%;
    width:auto;
    height: auto;
    z-index: -1;
}
.home-overlay
{
    background-color:rgba(0,0,0,0.2);
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:-1;
}



.container
{
    position: relative;
    text-align: center;
    color:black;


}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Britannic Bold";
    font-size: 40px;
    color:white;
    opacity:0.8;
}
tr,td{
    padding:10px;
}
tr:hover
{
    background-color: #f5f5f5;
}
.button1{
    background-color: #1a1a1a;
     border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius:50px;
}

#info{
opacity: 0.5;
width:550px;
height: 100%;
margin-left:auto;
margin-right:auto;
padding: 15px;
background-color:#1a1a1a;
text-color:white;
}

	.first-container
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
 height:500px;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 background-color:rgba(0,0,0,0.2);
 opacity:0.7;
}
#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:995px;
}

#timeline
{
 position:relative;
 width:700px;
 height:400px;
 float:left;
 margin-left:145px;
}
#timeline_bar
{
 padding: 0;
 list-style: none;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 50%;
 width: 5px;
 background-color:red;

 border-radius:15px;
}
#timeline li
{
 position:relative;
 margin-top:20px;
 margin-bottom:20px;
 width:300px;
 height:70px;
 background-color:black;
 padding:10px;
 box-sizing:border-box;
 border-radius:10px;
 list-style-type:none;
 color:white;
 font-size:15px;
}
#timeline li:nth-child(odd)
{
 margin-right:5px;
 right:-5px;
}
#timeline li:nth-child(even)
{
 left:370px;
}
.timeline-h3
{
    font-family: "Britannic Bold";
    color: red;
}
.contact{
    background-color: black;
    width:100%;
    height:250px;
    opacity:0.8;
}
.rounded-table {
    border-radius: 10px 10px;
    background: black;
    opacity: 0.7;
    padding: 20px;
    min-width: 200px;
    min-height: 150px;
    color:white;

}
.rounded-table:hover
{
    opacity: 1;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}


.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


.container2 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


.container2::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


.left {
    left: 0;
}


.right {
    left: 50%;
}


.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}


.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


.right::after {
    left: -16px;
}


.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}


@media screen and (max-width: 600px) {

  .timeline::after {
    left: 31px;
  }


  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container2::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }


  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
.container3
{
    background-color:black;
    opacity:0.7;
}
.button_newpage {
    background-color: darkslateblue;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    border-radius:17px;
    float: right;

}
.button_newpage:hover
{
    background-color:dodgerblue;

}
.font{
    color:darkslateblue;
    font-family: "Britannic Bold";
    font-weight: bold;
}
.card {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.7);
    background-color: gray;
  width: 400px;
    height:350px;
  margin: auto;
  text-align: center;
  font-family: "Britannic Bold";


   }
.clipped {
    width: 100%;
    padding: 10px;
    overflow-x: scroll;

}
/* top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius:40px;
    opacity:0.7;
}

#myBtn:hover {
  background-color: #555;
}

